METABASE_IMAGE=metabase/metabase:v0.58.x
METABASE_PORT=3000
METABASE_DOCKER_NETWORK=autonox-local

# Must match the values used with metabase/bootstrap/setup.sql.tmpl:
#   METABASE_DB       -> MB_DB_DBNAME
#   METABASE_USER     -> MB_DB_USER
#   METABASE_PASSWORD -> MB_DB_PASS
MB_DB_TYPE=postgres
MB_DB_DBNAME=metabase
MB_DB_PORT=5432
MB_DB_USER=metabase_user
MB_DB_PASS=secret
MB_DB_HOST=postgres
