# OS
.DS_Store

# Editors
.idea/
.vscode/

# Temporary / local
*.swp
*.tmp
*.log

# Secrets (never commit)
*.secret.yaml
*.secrets.yaml
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.*
*.auto.tfvars
metabase/tf/provider-mirror

images/airgap/tars
